.parent{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    min-height: 200px;
    align-items: center;
}

.empty{
    width: 100%;
    font-size: 45px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}